/* box sizing w/ inheritance */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit
}

#canvas {
  height: 1500px;
}

#button-canvas {
  height: 200px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
